body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkred;
    color: chocolate;
    font-size: large;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;  
}

header {
    color: rgb(235, 171, 9);
    text-align: center;
}

h1{
    background-color: brown;
    color: rgb(235, 171, 9);
    text-align: center;
}

h2{
    color: rgb(235, 171, 9);
    text-align: center;
}

h3{
    color: rgb(235, 171, 9);
    text-align: center;
}

h4{
    color: rgb(235, 171, 9);
    text-align: center;
}

img {
    align-self: center;
}