body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkred;
    color: chocolate;
    font-size: large;
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
    
}

header {
    background-color: brown;
    color: rgb(235, 171, 9);
    text-align: center;
}

img {
    align-self: center;
    border-color: darkgrey;
    border: 200px;
}