body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkred;
    color: chocolate;
    font-size: medium;
    text-align: center;
}

header {
    background-color: brown;
    color: rgb(235, 171, 9);
}